<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>com.ram.javabrains.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFaculty</display-name>
    <servlet-name>AddFaculty</servlet-name>
    <servlet-class>com.ram.javabrains.AddFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFaculty</servlet-name>
    <url-pattern>/AddFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFaculty</display-name>
    <servlet-name>DeleteFaculty</servlet-name>
    <servlet-class>com.ram.javabrains.DeleteFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFaculty</servlet-name>
    <url-pattern>/DeleteFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.ram.javabrains.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.ram.javabrains.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFQuestion</display-name>
    <servlet-name>AddFQuestion</servlet-name>
    <servlet-class>com.ram.javabrains.AddFQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFQuestion</servlet-name>
    <url-pattern>/AddFQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGQuestion</display-name>
    <servlet-name>AddGQuestion</servlet-name>
    <servlet-class>com.ram.javabrains.AddGQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGQuestion</servlet-name>
    <url-pattern>/AddGQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSQuestion</display-name>
    <servlet-name>AddSQuestion</servlet-name>
    <servlet-class>com.ram.javabrains.AddSQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSQuestion</servlet-name>
    <url-pattern>/AddSQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TakeFTest</display-name>
    <servlet-name>TakeFTest</servlet-name>
    <servlet-class>com.ram.javabrains.TakeFTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeFTest</servlet-name>
    <url-pattern>/TakeFTest</url-pattern>
  </servlet-mapping>
</web-app>